<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>It's working</title>
    </head>
    <body>
        <h1>This is the backend server</h1>
        <table>
          <tr>
            <th>AAPL</th>
            <th>AMD</th>
            <th>Oracle</th>
          </tr>
          <tr>
            <td>Open</td>
            <td>Close</td>
            <td>Trade Volume</td>
          </tr>
          <tr>
            <td>16</td>
            <td>14</td>
            <td>10</td>
          </tr>
        </table>
    </body>
</html>
